<br />

<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Bem Vindo a area de Administração</h2>
        </p>
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>