@model LancheListViewModel

@{
    ViewData["Title"] = "Lista de Lanches";
}
<div>
    <h2>@Model.CategoriaAtual</h2>
    <hr />
</div>
<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <img src="~/images/Lanches/@lanche.ImagemUrl" class="img-fluid" />
                <p><strong>Preço: @lanche.Preco.ToString("c")</strong></p>
                <h4>@lanche.LancheNome</h4>
                <p>@lanche.DescricaoCurta</p>
            </div>

        }
    </div>
</div>