@model IEnumerable<FastBurger.Models.Lanche>

@{
    ViewData["Title"] = "Lista de Lanches";
}
<div>
    <h2>Todos os Lanches</h2>
    <hr />
</div>
<div class="container">
    <div class="row">
        @foreach (var lanche in Model)
        {

            <div class="col-sm-4 col-md-4 col-lg-4">
                <p><img class="img-fluid" src="@lanche.ImagemUrl" /></p>
                <p><strong>Preço: @lanche.Preco.ToString("c")</strong></p>
                <h4>@lanche.LancheNome</h4>
                <p>@lanche.DescricaoCurta</p>
            </div>

        }
    </div>
</div>