<div id="carouselBurgers" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/basicBurger.jpg" class="d-block w-100" alt="Hamburguer Basico">
    </div>
    <div class="carousel-item">
      <img src="~/images/baconBurger.jpg" class="d-block w-100" alt="Hamburguer Bacon">
    </div>
    <div class="carousel-item">
      <img src="~/images/megaBurger.jpg" class="d-block w-100" alt="Hamburguer Mega">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselBurgers" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselBurgers" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>