<img src="https://kinsta.com/pt/wp-content/uploads/sites/3/2020/06/erro-401.jpg" alt="Acesso Negado" class="marginTop1" />

<div class="container">
    <div class="jumbotron">
        <h2>Acesso não autorizado</h2>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Pagina Inicial</a>
</div>
