<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Dúvida ou Sujestão? Fale Conosco.</h3>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />                
            </span>
            <h5><email endereco="lipe.baterra@gmail.com" conteudo="Envie um Email" style="text-decoration:none"></email></h5>
            
        </p>
        <p>
            <span>
                <img src="~/images/phone-app-icon.png" />                
            </span>
            <h5><phone>(11)95843-5696</phone></h5>
        </p>
        <p>
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <address><h5>Rua Agostinho Ferreira Escudeiro, 18 - São Paulo</h5></address>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.756996176934!2d-46.77348018537988!3d-23.720370373367842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4d92179cd463%3A0x10ad809188fadd8f!2sR.%20Agostinho%20Ferreira%20Escudeiro%20-%20Jardim%20Angela%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004949-140!5e0!3m2!1spt-BR!2sbr!4v1660672478632!5m2!1spt-BR!2sbr" 
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>